<html>
<head>
  <title>Notebook</title>
  <!-- Icons & Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- Include the library in the page -->
  <script src="vue.js"></script>
  <script src="https://unpkg.com/marked"></script>

  <!-- Notebook app -->
  <div id="notebook">
    <aside class="side-bar">
      <div class="toolbar">
        <button @click="addNote"
        v-bind:title="notes.length + ' notes already'"><i class="material-icons">add</i>Add note</button>
      </div>
      <div class="notes">
        <div class="note" v-for="note in notes"
        @click="selectNote(note)"
        :class="{selected: note === selectedNote }">{{ note.title }}</div>
      </div>
    </aside>


    <!-- Main pane -->
  <template v-if="selectedNote">
    <section class="main">
      <textarea v-model="selectedNote.content"></textarea>
    </section>

    <!-- Preview pane -->
    <aside class="preview" v-html="notePreview">
    </aside>

  </template>
  </div>

  <!-- Some JavaScript -->
  <script src="script.js"></script>
</body>
</html>
